/* banmer-image */
body{
    background: rgb(37, 37, 37) !important;
}
.banner{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: 1;
}
.banner-image{
    width: 100%;
    height: 600px;
    background-image: url(./images/Banner-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

 
}
.backgroun-overlay{
    background-color: rgba(0, 0, 0, 0.505);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 600px;

}
.banner-text h1{
    font-size: 64px;
    font-family: 'Berkshire Swash', cursive;
    z-index: 1;
    color: #ff5e19;
    
}
.overlay{
    position: relative;
}

.middel{
    margin-top: 250px;
}

.select{
    height: 416px;
    background: rgb(14, 14, 14);
}

.dark{
    background: black;
}

 
li#name-list {
    font-size: 20px;
    margin-top: 17px;
}

ol#add-player {
    margin: 20px;
}